In [174]:
import pandas as pd

In [213]:
df= pd.read_csv('Full Polling Data, Election Vault, 1955-2024.csv')

In [214]:
df['pollster'].unique()

array(['Gallup', 'Centre of Public Opinion', 'Daily Express',
       'Daily Mail', 'Research Services', 'NOP', 'Forecasting', 'Harris',
       'ORC', 'Marplan', 'Business Decisions', 'MORI',
       'Audience Selection', 'ICM', 'NMR', 'Neilsen', 'ORB', 'Rasmussen',
       'Populus', 'YouGov', 'Ipsos-MORI', 'Communicate', 'Savanta ComRes',
       'BPIX', 'Marketing Sciences', 'Angus Reid', 'TNS-BMRB', 'Opinium',
       'Survation', 'Lord Ashcroft', 'Lucid Talk', 'Panelbase', 'BMG',
       'SurveyMonkey', 'GfK', 'Norstat', 'Kantar', 'Qriously',
       'Number Cruncher Politics', 'Deltapoll', 'Sky Data',
       'Hanbury Strategy', 'Focaldata', 'Redfield & Wilton',
       'JL Partners', 'FindOutNow', 'Omnisis', 'Techne', 'PeoplePolling',
       'More in Common', 'Social Market Research', 'Whitestone Insight'],
      dtype=object)

In [215]:
df['pollster'] = df['pollster'].str.replace(' ', '').str.replace('&', '').str.replace('-', '')

In [216]:
df['pollster'].unique()

array(['Gallup', 'CentreofPublicOpinion', 'DailyExpress', 'DailyMail',
       'ResearchServices', 'NOP', 'Forecasting', 'Harris', 'ORC',
       'Marplan', 'BusinessDecisions', 'MORI', 'AudienceSelection', 'ICM',
       'NMR', 'Neilsen', 'ORB', 'Rasmussen', 'Populus', 'YouGov',
       'IpsosMORI', 'Communicate', 'SavantaComRes', 'BPIX',
       'MarketingSciences', 'AngusReid', 'TNSBMRB', 'Opinium',
       'Survation', 'LordAshcroft', 'LucidTalk', 'Panelbase', 'BMG',
       'SurveyMonkey', 'GfK', 'Norstat', 'Kantar', 'Qriously',
       'NumberCruncherPolitics', 'Deltapoll', 'SkyData',
       'HanburyStrategy', 'Focaldata', 'RedfieldWilton', 'JLPartners',
       'FindOutNow', 'Omnisis', 'Techne', 'PeoplePolling', 'MoreinCommon',
       'SocialMarketResearch', 'WhitestoneInsight'], dtype=object)

In [219]:
df['startdate'] = pd.to_datetime(df['startdate'])

In [220]:
df['enddate'] = pd.to_datetime(df['enddate'])

In [221]:
df['countrycode'].unique()

array(['GBR', 'UKM', 'SCO', 'WAL', 'NIR', 'ENW'], dtype=object)

In [222]:
sco = ['SCO']
gb = ['GBR']
wal = ['WAL']
nir = ['NIR']

In [223]:
sco_polls = df[df['countrycode'].isin(sco)]
gb_polls = df[df['countrycode'].isin(gb)]
wal_polls = df[df['countrycode'].isin(wal)]
nir_polls = df[df['countrycode'].isin(nir)]

In [224]:
sco_polls['pollster'].unique()

array(['YouGov', 'LordAshcroft', 'Survation', 'Panelbase', 'IpsosMORI',
       'ICM', 'TNSBMRB', 'BMG', 'JLPartners', 'Opinium', 'SavantaComRes',
       'RedfieldWilton', 'MoreinCommon'], dtype=object)

In [225]:
sco_pollster_uuid = sco_polls.set_index(sco_polls['enddate'].dt.strftime('%Y-%m-%d').apply(str) + '_' + sco_polls['pollster'])

In [226]:
sco_df = sco_pollster_uuid.pivot_table(values="votingintention", index=[sco_pollster_uuid.index,\
                                                                        'startdate', 'enddate', 'pollster', 'samplesize'], columns=['partycode'])

In [227]:
sco_df.reset_index(level=['startdate', 'enddate', 'pollster', 'samplesize'], inplace=True)
sco_df

partycode,startdate,enddate,pollster,samplesize,BRX,CHN,CON,GRE,LAB,LIB,OTH,SNP,UKI
2010-03-09_YouGov,2010-03-09,2010-03-09,YouGov,1000,NaN,NaN,16.0,NaN,39.0,11.0,NaN,29.0,5.0
2010-10-20_YouGov,2010-10-18,2010-10-20,YouGov,1000,NaN,NaN,18.0,NaN,44.0,7.0,NaN,26.0,5.0
2011-03-28_YouGov,2011-03-25,2011-03-28,YouGov,1000,NaN,NaN,17.0,NaN,46.0,6.0,NaN,26.0,5.0
2011-04-15_YouGov,2011-04-13,2011-04-15,YouGov,1000,NaN,NaN,16.0,NaN,43.0,9.0,NaN,28.0,5.0
2011-04-21_YouGov,2011-04-19,2011-04-21,YouGov,1000,NaN,NaN,15.0,NaN,43.0,7.0,NaN,30.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-05_SavantaComRes,2024-03-05,2024-08-05,SavantaComRes,1080,NaN,NaN,17.0,NaN,37.0,7.0,4.0,33.0,NaN
2024-09-05_RedfieldWilton,2024-08-05,2024-09-05,RedfieldWilton,1078,4.0,NaN,14.0,4.0,38.0,8.0,1.0,31.0,NaN
2024-11-01_RedfieldWilton,2024-09-01,2024-11-01,RedfieldWilton,1040,2.0,NaN,17.0,2.0,35.0,9.0,1.0,35.0,NaN
2024-11-03_RedfieldWilton,2024-10-03,2024-11-03,RedfieldWilton,1000,4.0,NaN,16.0,4.0,34.0,6.0,1.0,34.0,NaN
2024-12-04_Panelbase,2024-09-04,2024-12-04,Panelbase,1086,5.0,NaN,16.0,4.0,32.0,9.0,3.0,32.0,NaN

In [100]:
wal_pollster_uuid = wal_polls.set_index(wal_polls['startdate'].dt.strftime('%Y-%m-%d').apply(str) + '_' + wal_polls['pollster'])

In [45]:
wal_df = wal_pollster_uuid.pivot_table(values="votingintention", index=wal_pollster_uuid.index, columns='partycode')

In [47]:
wal_df

partycode                      BRX  CHN   CON  GRE   LAB  LIB  OTH   PLC   UKI
2011-02-05_YouGov              NaN  NaN  24.0  2.0  50.0  8.0  NaN  10.0   4.0
2012-02-07_YouGov              NaN  NaN  23.0  NaN  54.0  4.0  NaN  10.0   9.0
2012-12-04_YouGov              NaN  NaN  23.0  NaN  50.0  7.0  NaN  12.0   9.0
2013-02-12_YouGov              NaN  NaN  21.0  2.0  46.0  8.0  NaN  12.0  10.0
2013-02-18_YouGov              NaN  NaN  22.0  1.0  51.0  9.0  NaN  10.0   7.0
...                            ...  ...   ...  ...   ...  ...  ...   ...   ...
2024-01-24_Redfield & Wilton  12.0  NaN  20.0  4.0  48.0  4.0  1.0  10.0   NaN
2024-02-18_Redfield & Wilton  13.0  NaN  22.0  5.0  45.0  5.0  1.0  10.0   NaN
2024-03-24_Redfield & Wilton  15.0  NaN  16.0  5.0  49.0  5.0  1.0  10.0   NaN
2024-04-22_Redfield & Wilton  18.0  NaN  18.0  4.0  40.0  6.0  0.0  14.0   NaN
2024-05-18_Redfield & Wilton  15.0  NaN  19.0  6.0  43.0  3.0  1.0  14.0   NaN

[92 rows x 9 columns]

In [49]:
nir_pollster_uuid = nir_polls.set_index(nir_polls['startdate'].dt.strftime('%Y-%m-%d').apply(str) + '_' + nir_polls['pollster'])

In [50]:
nir_df =  nir_pollster_uuid.pivot_table(values="votingintention", index=nir_pollster_uuid.index, columns='partycode')

In [55]:
nir_df

partycode,ALL,DUP,GRE,OTH,SDL,SFA,TUV,UKI,UUP
2014-11-09_Lucid Talk,6.0,26.0,NaN,17.0,15.0,24.0,NaN,NaN,12.0
2017-01-06_Lucid Talk,10.0,29.0,NaN,4.0,14.0,28.0,0.0,NaN,15.0
2017-04-27_Lucid Talk,10.0,29.0,NaN,5.0,12.0,28.0,1.0,0.0,15.0
2017-05-17_Lucid Talk,10.0,29.0,NaN,4.0,14.0,28.0,0.0,NaN,16.0
2018-10-20_Survation,12.0,31.0,NaN,4.0,11.0,27.0,NaN,NaN,15.0
2019-09-08_Lucid Talk,21.0,29.0,1.0,7.0,8.0,25.0,NaN,NaN,9.0
2019-10-30_Lucid Talk,16.0,28.0,1.0,8.0,14.0,24.0,NaN,NaN,9.0
2019-11-27_Lucid Talk,16.0,30.0,0.0,5.0,13.0,25.0,NaN,NaN,11.0
2023-10-26_Social Market Research,15.0,25.0,NaN,5.0,9.0,31.0,5.0,NaN,11.0
2024-01-28_Social Market Research,15.0,24.0,NaN,6.0,8.0,31.0,5.0,NaN,11.0
2024-10-05_Lucid Talk,15.0,20.0,NaN,8.0,10.0,26.0,8.0,NaN,13.0

In [52]:
gb_pollster_uuid = gb_polls.set_index(gb_polls['startdate'].dt.strftime('%Y-%m-%d').apply(str) + '_' + gb_polls['pollster'])

In [53]:
gb_df =  gb_pollster_uuid.pivot_table(values="votingintention", index=gb_pollster_uuid.index, columns='partycode')

In [54]:
gb_df

partycode,BRX,CHN,CON,GRE,LAB,LIB,NAT,OTH,PLC,SDP,SNP,UKI
1943-01-06_Gallup,NaN,NaN,36.0,NaN,44.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
1943-01-07_Gallup,NaN,NaN,33.0,NaN,48.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
1943-01-12_Gallup,NaN,NaN,32.0,NaN,46.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1944-01-01_Gallup,NaN,NaN,28.0,NaN,45.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1945-01-02_Gallup,NaN,NaN,28.0,NaN,47.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-01_Savanta ComRes,7.0,NaN,27.0,4.0,44.0,11.0,NaN,4.0,NaN,NaN,3.0,NaN
2024-12-03_YouGov,14.0,NaN,20.0,7.0,44.0,9.0,NaN,2.0,1.0,NaN,3.0,NaN
2024-12-04_Deltapoll,11.0,NaN,25.0,5.0,45.0,9.0,NaN,4.0,NaN,NaN,3.0,NaN
2024-12-04_Savanta ComRes,9.0,NaN,25.0,4.0,43.0,10.0,NaN,4.0,NaN,NaN,3.0,NaN
2024-12-05_Redfield & Wilton,15.0,NaN,21.0,6.0,42.0,12.0,NaN,1.0,NaN,NaN,3.0,NaN