In [36]:
import pandas as pd

In [37]:
# Imports CSVs
election_results_df = pd.read_csv('../processed_data/election_results_dataframe.csv')
gb_polls = pd.read_csv('../processed_data/gb_polls.csv')

In [38]:
gb_polls

,startdate,enddate,pollster,samplesize,pollster_rating,next_election_date,days_until_next_election,BRX,CON,GRE,LAB,LIB,NAT,OTH,PLC,SNP,UKI,election_year
0,2004-01-02,2004-01-04,Populus,566,D+,2005-05-05,489,NaN,35.0,NaN,40.0,18.0,NaN,7.0,NaN,NaN,NaN,2005
1,2004-01-16,2004-01-18,ICM,1007,D+,2005-05-05,475,NaN,34.0,NaN,39.0,20.0,NaN,7.0,NaN,NaN,NaN,2005
2,2004-02-06,2004-02-08,Populus,580,D+,2005-05-05,454,NaN,31.0,NaN,36.0,25.0,NaN,8.0,NaN,NaN,NaN,2005
3,2004-02-20,2004-02-22,ICM,1006,D+,2005-05-05,440,NaN,34.0,NaN,36.0,21.0,NaN,8.0,NaN,NaN,NaN,2005
4,2004-03-05,2004-03-07,Populus,573,D+,2005-05-05,426,NaN,34.0,NaN,36.0,22.0,NaN,8.0,NaN,NaN,NaN,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,2024-05-22,2024-05-23,Techne,1643,D,2024-07-04,43,14.0,19.0,5.0,45.0,12.0,NaN,3.0,NaN,2.0,NaN,2024
4618,2024-05-23,2024-05-24,Omnisis,1242,D,2024-07-04,42,12.0,22.0,6.0,47.0,8.0,NaN,2.0,NaN,3.0,NaN,2024
4619,2024-05-23,2024-05-24,Opinium,1454,A-,2024-07-04,42,10.0,27.0,7.0,41.0,10.0,NaN,1.0,NaN,2.0,NaN,2024
4620,2024-05-23,2024-05-24,YouGov,2072,A-,2024-07-04,42,14.0,22.0,6.0,44.0,9.0,NaN,1.0,0.0,3.0,NaN,2024
4621,2024-05-23,2024-05-25,Deltapoll,1517,D+,2024-07-04,42,10.0,23.0,6.0,45.0,9.0,NaN,2.0,1.0,3.0,NaN,2024

In [39]:
# Renames column names
election_results_df.rename(columns={'Year': 'election_year'}, inplace=True)

In [40]:
filtered_gb_polls_df = gb_polls[gb_polls['election_year'] <= 2020]

In [41]:
filtered_gb_polls_df

,startdate,enddate,pollster,samplesize,pollster_rating,next_election_date,days_until_next_election,BRX,CON,GRE,LAB,LIB,NAT,OTH,PLC,SNP,UKI,election_year
0,2004-01-02,2004-01-04,Populus,566,D+,2005-05-05,489,NaN,35.0,NaN,40.0,18.0,NaN,7.0,NaN,NaN,NaN,2005
1,2004-01-16,2004-01-18,ICM,1007,D+,2005-05-05,475,NaN,34.0,NaN,39.0,20.0,NaN,7.0,NaN,NaN,NaN,2005
2,2004-02-06,2004-02-08,Populus,580,D+,2005-05-05,454,NaN,31.0,NaN,36.0,25.0,NaN,8.0,NaN,NaN,NaN,2005
3,2004-02-20,2004-02-22,ICM,1006,D+,2005-05-05,440,NaN,34.0,NaN,36.0,21.0,NaN,8.0,NaN,NaN,NaN,2005
4,2004-03-05,2004-03-07,Populus,573,D+,2005-05-05,426,NaN,34.0,NaN,36.0,22.0,NaN,8.0,NaN,NaN,NaN,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260,2019-12-09,2019-12-11,IpsosMORI,2213,A-,2019-12-12,3,2.0,44.0,3.0,33.0,12.0,NaN,6.0,NaN,NaN,NaN,2019
3261,2019-12-09,2019-12-11,Kantar,2815,B+,2019-12-12,3,3.0,44.0,3.0,32.0,13.0,NaN,1.0,0.0,4.0,NaN,2019
3262,2019-12-10,2019-12-11,Opinium,3005,A-,2019-12-12,2,2.0,45.0,2.0,33.0,12.0,NaN,1.0,0.0,4.0,NaN,2019
3263,2019-12-10,2019-12-11,Panelbase,3174,A-,2019-12-12,2,4.0,43.0,3.0,34.0,11.0,NaN,NaN,0.0,4.0,NaN,2019
3264,2019-12-10,2019-12-11,Survation,2395,A-,2019-12-12,2,3.0,45.0,3.0,34.0,9.0,NaN,1.0,1.0,4.0,NaN,2019

In [42]:
# Merges dataframes
gb_polls_actuals = filtered_gb_polls_df.merge(election_results_df, on='election_year', how='left')

In [43]:
gb_polls_actuals.columns

Index(['startdate', 'enddate', 'pollster', 'samplesize', 'pollster_rating',
       'next_election_date', 'days_until_next_election', 'BRX', 'CON', 'GRE',
       'LAB', 'LIB', 'NAT', 'OTH', 'PLC', 'SNP', 'UKI', 'election_year',
       'Geography', 'Country', 'NAT_ACTUAL_PERCENTAGE',
       'BRX_ACTUAL_PERCENTAGE', 'CON_ACTUAL_PERCENTAGE',
       'GRE_ACTUAL_PERCENTAGE', 'LIB_ACTUAL_PERCENTAGE',
       'LABOUR_ACTUAL_PERCENTAGE', 'PLC_ACTUAL_PERCENTAGE',
       'SNP_ACTUAL_PERCENTAGE', 'UKI_ACTUAL_PERCENTAGE', 'OTH_PERCENTAGE'],
      dtype='object')

In [44]:
rename_columns = {
    'BRX': 'BRX_FC',
    'CON': 'CON_FC',
    'GRE': 'GRE_FC',
    'LAB': 'LAB_FC',
    'LIB': 'LIB_FC',
    'NAT': 'NAT_FC',
    'OTH': 'OTH_FC',
    'PLC': 'PLC_FC',
    'SNP': 'SNP_FC',
    'UKI': 'UKI_FC',
    'BRX_ACTUAL_PERCENTAGE': 'BRX_ACT',
    'CON_ACTUAL_PERCENTAGE': 'CON_ACT',
    'GRE_ACTUAL_PERCENTAGE': 'GRE_ACT',
    'LIB_ACTUAL_PERCENTAGE': 'LIB_ACT',
    'LABOUR_ACTUAL_PERCENTAGE': 'LAB_ACT',
    'NAT_ACTUAL_PERCENTAGE': 'NAT_ACT',
    'PLC_ACTUAL_PERCENTAGE': 'PLC_ACT',
    'SNP_ACTUAL_PERCENTAGE': 'SNP_ACT',
    'UKI_ACTUAL_PERCENTAGE': 'UKI_ACT'
}

In [45]:
gb_polls_actuals.rename(columns=rename_columns, inplace=True)

In [46]:
gb_polls_actuals.drop(columns=['Country'], inplace=True)

In [47]:
combined_df = gb_polls_actuals

In [48]:
combined_df.rename(columns={'pollster_rating': 'rating'}, inplace=True)

In [49]:
combined_df.rename(columns={'next_election_date': 'next_elec_date'}, inplace=True)

In [50]:
combined_df.rename(columns={'days_until_next_election': 'days_to_elec'}, inplace=True)

In [51]:
combined_df.drop(columns='Geography', inplace=True)  # Drop column

In [52]:
combined_df.drop(columns='election_year', inplace=True)  # Drop column

In [54]:
combined_df.to_csv('../processed_data/2004_to_2019_polling_cleaned.csv', index=False)

In [37]:
combined_df

,startdate,enddate,pollster,samplesize,rating,next_elec_date,days_to_elec,BRX_FC,CON_FC,GRE_FC,...,UKI_FC,BRX_ACT,CON_ACT,GRE_ACT,LIB_ACT,LAB_ACT,PLC_ACT,SNP_ACT,UKI_ACT,OTH_PERCENTAGE
0,2017-06-10,2017-06-10,Survation,1036,A-,2019-12-12,915,NaN,39.0,NaN,...,3.0,2.012681,43.631688,2.61203,11.547741,32.080872,0.478805,3.881238,0.071281,3.683662
1,2017-06-17,2017-06-17,Survation,1005,A-,2019-12-12,908,NaN,41.0,1.0,...,2.0,2.012681,43.631688,2.61203,11.547741,32.080872,0.478805,3.881238,0.071281,3.683662
2,2017-06-16,2017-06-21,Panelbase,5481,A-,2019-12-12,909,NaN,41.0,1.0,...,2.0,2.012681,43.631688,2.61203,11.547741,32.080872,0.478805,3.881238,0.071281,3.683662
3,2017-06-27,2017-06-29,Opinium,2010,A-,2019-12-12,898,NaN,39.0,2.0,...,5.0,2.012681,43.631688,2.61203,11.547741,32.080872,0.478805,3.881238,0.071281,3.683662
4,2017-06-28,2017-06-30,Survation,1016,A-,2019-12-12,897,NaN,41.0,2.0,...,2.0,2.012681,43.631688,2.61203,11.547741,32.080872,0.478805,3.881238,0.071281,3.683662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797,2024-05-22,2024-05-23,Techne,1643,D,2024-07-04,43,14.0,19.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1798,2024-05-23,2024-05-24,Omnisis,1242,D,2024-07-04,42,12.0,22.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799,2024-05-23,2024-05-24,Opinium,1454,A-,2024-07-04,42,10.0,27.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1800,2024-05-23,2024-05-24,YouGov,2072,A-,2024-07-04,42,14.0,22.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1801,2024-05-23,2024-05-25,Deltapoll,1517,D+,2024-07-04,42,10.0,23.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN