In [2]:
import pandas as pd

In [36]:
trends1 = pd.read_csv('/Users/nieksonneveld/code/nieksonneveld/election-predictor/raw_data/LAB_CON_LIB_GRE_BRX_Trends_2004_now.csv')
trends2 = pd.read_csv('/Users/nieksonneveld/code/nieksonneveld/election-predictor/raw_data/LAB_PLC_SNP_UKI_NAT_Trends_2004_now.csv')

In [35]:
trends2.head()

,Month,Labour Party: (United Kingdom),Plaid Cymru: (United Kingdom),Scottish National Party: (United Kingdom),UK Independence Party: (United Kingdom),British National Party: (United Kingdom)
0,2004-01,8,0,1,0,2
1,2004-02,8,0,1,0,3
2,2004-03,8,0,1,1,3
3,2004-04,6,0,1,1,3
4,2004-05,7,1,1,5,5

In [38]:
trends2.drop(columns='Labour Party: (United Kingdom)',inplace=True)

In [40]:
trends_merged = pd.merge(trends1,trends2,how='left',on='Month')

In [41]:
trends_merged.head()

,Month,Labour Party: (United Kingdom),Conservative Party: (United Kingdom),Liberal Democrats: (United Kingdom),Green Party: (United Kingdom),Reform UK: (United Kingdom),Plaid Cymru: (United Kingdom),Scottish National Party: (United Kingdom),UK Independence Party: (United Kingdom),British National Party: (United Kingdom)
0,2004-01,8,6,3,1,0,0,1,0,2
1,2004-02,8,6,3,1,0,0,1,0,3
2,2004-03,8,5,3,1,0,0,1,1,3
3,2004-04,6,5,3,1,0,0,1,1,3
4,2004-05,7,6,3,3,0,1,1,5,5

In [43]:
trends_merged['Month'] = pd.to_datetime(trends_merged['Month'])

In [44]:
trends_merged.dtypes

Month                                        datetime64[ns]
Labour Party: (United Kingdom)                        int64
Conservative Party: (United Kingdom)                  int64
Liberal Democrats: (United Kingdom)                   int64
Green Party: (United Kingdom)                        object
Reform UK: (United Kingdom)                          object
Plaid Cymru: (United Kingdom)                        object
Scottish National Party: (United Kingdom)            object
UK Independence Party: (United Kingdom)              object
British National Party: (United Kingdom)             object
dtype: object

In [46]:
# Replace <1 values with 0.5 value
trends_merged.replace('<1', 0.5,inplace=True)

In [48]:
# Converting objects to int
trends_merged = trends_merged.astype({'Green Party: (United Kingdom)':'int','Reform UK: (United Kingdom)':'int',\
    'Plaid Cymru: (United Kingdom)':'int','Scottish National Party: (United Kingdom)':'int',\
        'UK Independence Party: (United Kingdom)':'int','British National Party: (United Kingdom)':'int'})

In [49]:
trends_merged.dtypes

Month                                        datetime64[ns]
Labour Party: (United Kingdom)                        int64
Conservative Party: (United Kingdom)                  int64
Liberal Democrats: (United Kingdom)                   int64
Green Party: (United Kingdom)                         int64
Reform UK: (United Kingdom)                           int64
Plaid Cymru: (United Kingdom)                         int64
Scottish National Party: (United Kingdom)             int64
UK Independence Party: (United Kingdom)               int64
British National Party: (United Kingdom)              int64
dtype: object